<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BBC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 350px;
        height: 350px;
        margin: auto;
    }
    .carousel-control.left{
      background-image: none !important;

    }
    .carousel-control.right {
      background-image: none !important;

    }
    </style>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="header-cont">
    <h2 style="color: white" align = "center"><a href = "/search" style = "color: white">BBPriceOptimizer</a></p>
    </div>

    <div class = "container-fluid">
    <!-- Search box -->


    <form action="/search" style = "margin-bottom : 50px;">
        <input type="text" class="form-control" placeholder="Search" name="query" style = "height: 75px; margin-top: 10px; font-size: 30px;">
    </form>



    <!-- clicked product -->



    <div class="container" style="border-radius: 4px; box-shadow: 0px 0px 4px #bababa">
      <h4 align="center"><%= title %></h4>
    <div class="row">
  <br>
  <div class="col-md-1"></div>
  <div class="col-md-5">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:400px; height:350px;" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% for(var i = 1; i < images.length; i++) { %>
        <li data-target="#myCarousel" data-slide-to=<%= i %>></li>
      <% } %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src=<%= images[0].url %> width="460" height="460">
      </div>
      <% for(var i = 1; i < images.length; i++) { %>
        <div class="item">
          <img src=<%= images[i].url %> width="460" height="460">
        </div>
      <% } %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
</div>
<br>

  <div class="col-md-6">
    <br>
    <br>
    <br>
    <p><%= " Best Buy Price : $" + bbPrice %>
    </p>
    <% if (!isNaN(azPrice)) { %>
      <p> The Difference between Amazon Price and Best Buy Price : $<%= pricePoints[3] %> </p>
    <% } %>
    <p>Amazon Price : <%= !isNaN(azPrice) ? "$" + azPrice : 'Not on Amazon' %></p>
    <% if (!isNaN(azPrice)) { %>
      <p>Price point 1 : $<%= pricePoints[0] %></p>
      <p>Price point 2 : $<%= pricePoints[1] %></p>
      <p>Price point 3 : $<%= pricePoints[2] %></p>
    <% } %>
  </div>

</div>
</div>
<div class='container' style="margin-bottom: 30px;">
    <h3 style="margin-bottom: 40px;">Analytics</h3>
    <div id="city_graph" style="height: 400px; width: 400px; display: inline-block; margin-bottom: 40px; margin-right: 30px;">
      <div style="position: relative;">
        <label for="city_select">City</label>
        <select id="city_select" style="height: 28px; width: 150px; border-radius: 3px; margin-bottom: 10px;">
          <option value="" disabled selected></option>
          <option id="city_1" data="#myChart"></option>
          <option id="city_2" data="#myChart2"></option>
        </select>
      </div>
      <canvas id="myChart" width="100" height="100" style="display: none;"></canvas>
      <canvas id="myChart2" width="100" height="100" style="display: none;"></canvas>
    </div>
    <div id="age_graph" style="height: 400px; width: 400px; display: inline-block;">
      <div style="position: relative;">
        <label for="age_select">Age Range</label>
        <select id="age_select" style="height: 28px; width: 150px; border-radius: 3px; margin-bottom: 10px;">
          <option value="" disabled selected></option>
          <option id="age_0" data="#myChart3">0-20</option>
          <option id="age_20" data="#myChart4">20-40</option>
          <option id="age_40" data="#myChart5">40-60</option>
          <option id="age_60" data="#myChart6">60-80</option>
        </select>
      </div>
      <canvas id="myChart3" width="100" height="100" style="display: none;"></canvas>
      <canvas id="myChart4" width="100" height="100" style="display: none;"></canvas>
      <canvas id="myChart5" width="100" height="100" style="display: none;"></canvas>
      <canvas id="myChart6" width="100" height="100" style="display: none;"></canvas>
    </div>
  </div>
    <!-- jQuery Version 1.11.1 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->

</div>
<script>
jQuery.noConflict();
(function($) {
  $(function() {
    $.getJSON('/data/cityData.json', function(json) {
      var city_1 = json.cityData[0];
      var city_2 = json.cityData[1];
      $('#city_1').val(city_1.cityName);
      $('#city_1').text(city_1.cityName);
      $('#city_2').val(city_2.cityName);
      $('#city_2').text(city_2.cityName);

      var arr1 = [];
      var vals1 = [];
      for (var k in city_1.products[0].someProduct1.saleData) {
        arr1.push(k);
        vals1.push(city_1.products[0].someProduct1.saleData[String(k)].sale);
      }
      var arr2 = [];
      var vals2 = [];
      for (var k in city_2.products[0].someProduct1.saleData) {
        arr2.push(k);
        vals2.push(city_2.products[0].someProduct1.saleData[String(k)].sale);
      }
      var arr3 = [];
      var vals3 = [];
      for (var k in json.demographicData[0]["0-20"]) {
        arr3.push(k);
        vals3.push(json.demographicData[0]["0-20"][String(k)]);
      }
      var arr4 = [];
      var vals4 = [];
      for (var k in json.demographicData[1]["20-40"]) {
        arr4.push(k);
        vals4.push(json.demographicData[1]["20-40"][String(k)]);
      }
      var arr5 = [];
      var vals5 = [];
      for (var k in json.demographicData[2]["40-60"]) {
        arr5.push(k);
        vals5.push(json.demographicData[2]["40-60"][String(k)]);
      }
      var arr6 = [];
      var vals6 = [];
      for (var k in json.demographicData[3]["60-80"]) {
        arr6.push(k);
        vals6.push(json.demographicData[3]["60-80"][String(k)]);
      }

      var ctx = $("#myChart");
      var ctx2 = $("#myChart2");
      var ctx3 = $("#myChart3");
      var ctx4 = $("#myChart4");
      var ctx5 = $("#myChart5");
      var ctx6 = $("#myChart6");

      var chartMakerCity = function(chart, array, values) {
        return new Chart(chart, {
          type: 'bar',
          data: {
            labels: array,
            datasets: [{
              label: 'City Sales/Price Point',
              data: values,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Price Point'
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Number of Sales'
                }
              }]
            }
          }
        });
      };

      var chartMakerAge = function(chart, array, values) {
        return new Chart(chart, {
          type: 'bar',
          data: {
            labels: array,
            datasets: [{
              label: 'Age Range Sales/Price Point',
              data: values,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Price Point'
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero:true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Number of Sales'
                }
              }]
            }
          }
        });
      };

      var chart = chartMakerCity(ctx, arr1, vals1);
      var chart2 = chartMakerCity(ctx2, arr2, vals2);
      var chart3 = chartMakerAge(ctx3, arr3, vals3);
      var chart4 = chartMakerAge(ctx4, arr4, vals4);
      var chart5 = chartMakerAge(ctx5, arr5, vals5);
      var chart6 = chartMakerAge(ctx6, arr6, vals6);

      $('#city_select').change(function() {
        var selected = $(this).find(':selected').attr('data');
        $('#city_graph canvas').css('display', 'none');
        $(selected).css('display', 'block');
      });

      $('#age_select').change(function() {
        var selected = $(this).find(':selected').attr('data');
        $('#age_graph canvas').css('display', 'none');
        $(selected).css('display', 'block');
      });

    });
  });
})(jQuery);
</script>
<!-- jQuery Version 1.11.1 -->
<!-- <script src="/js/jquery.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="/js/bootstrap.min.js"></script> -->
</body>

</html>
